body {
	margin: 0;
	font-family: Georgia;
	font-size: 17px;
	color: black;
}

#header {
	font-family: Verdana;
	font-size: 14px;
	font-weight: bold;
	position: fixed;
	display: flex;
	background-color: #ffffff;
	z-index: 1;
	width: 100%;
	height: 80px;
	align-items: center;
	border-bottom: 1px solid black;
	justify-content: space-between;
}

#logo {
	display: inline-flex;
	float: left;
	padding-left: 30px;
	align-items: center;
	margin-right: 12px;
}

#logo span {
	color: mediumaquamarine;
	padding-left: 20px;
}

#lhs {
	display: inline-flex;
}


header nav {
	margin-right: 70px;
}

nav span {
	display: inline-block;
	padding: 20px 10px;
}

nav a {
	color: #000000;
}

.main {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding-top: 116px;
	padding-left: 70px;
	padding-right: 70px;

}




.large {
	display: inline-flex;
	flex-direction: column;
	max-width: 630px;
	margin: 10px 30px;
}


#booze {
	background-image: url("../images/booze.png");
	color: #ffffff;
	font-family: Georgia;
	font-weight: bold;
	font-size: 40px;
	height: 300px;
	justify-content: center;
	flex-direction: column;
	display: flex;
	padding-left: 20px;
}

#stories {
	display: inline-flex;
	justify-content: space-around;
}

#orca {
	display: inline-flex;
	flex-direction: column;
	width: 300px;
	margin-right: 20px;

}

#orca h1 {
	height: 150px;
}

#breakfast {
	display: inline-flex;
	flex-direction: column;
	width: 300px;
}

#breakfast h1 {
	height: 150px;
}

#earth {
	display: inline-flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	align-items: center;
	background-image: url("../images/trees.png");
	color: #ffffff;
	font-family: Georgia;
	font-weight: bold;
	font-size: 30px;
	height: 300px;
	width: 300px;
	margin-right: 20px;

}

#camera {
	display: inline-flex;
	text-align: center;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	background-image: url("../images/camera.png");
	color: #ffffff;
	font-family: Georgia;
	font-weight: bold;
	font-size: 30px;
	height: 300px;
	width: 300px;
}



.medium {
	display: inline-flex;
	flex-direction: column;
	max-width: 300px;
	margin: 10px 30px;
}

#cat {
	background-image: url("../images/cat.png");
	color: #ffffff;
	font-family: Georgia;
	font-weight: bold;
	font-size: 30px;
	height: 300px;
	text-align: center;
	justify-content: center;
	flex-direction: column;
	display: flex;
}

.small {
	display: inline-flex;
	flex-direction: column;
	max-width: 240px;
	margin: 10px 30px;
}

#cookie {
	background-image: url("../images/cookie.png");
	width: 250px;
	height: 250px;
}

#news-bites {
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	margin-bottom: 20px;
}

#link-list span {
	display: flex;
	flex-direction: column;
	background-color: lightgrey;
	border-bottom: 1px solid black;
	padding: 10px 50px 10px 30px;
	font-size: 12px;
	font-family: Verdana;
	color: grey;
}

footer {
	display: flex;
	background-color: MediumAquamarine;
	margin: auto;
	font-family: Verdana;
	font-size: 12px;
	height: ;
	align-items: center;
	justify-content: center;
	height: 325px;
	align-items: center;
	flex-direction: column;
}

#footer-title {
	font-family: Georgia;
	font-size: 16px;
	font-weight: bold;
	color: white;
}

#footer-container {
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

#footer-title p {
	border-right: 2px white solid;
	padding-right: 30px;
}

footer nav {
	display: inline-block;
	padding-left: 25px;
}

nav span {
	display: inline-block;
	padding: 20px 10px;
}

.copyright {
	display: block;
}



/*.column.large {
	width: 630px;
}

.column.medium {
	width: 300px;
}

.column.small {
	width: 240px;
}*/