body {
	margin: 0;
}

#header {
	font-family: Verdana;
	font-size: 14px;
	font-weight: bold;
	position: fixed;
	display: flex;
	background-color: #ffffff;
	z-index: 1;
	width: 100%;
	height: 80px;
	align-items: center;
	border-bottom: 1px solid black;
}

#logo {
	display: inline-flex;
	float: left;
	padding-left: 30px;
	align-items: center;
	margin-right: 12px;
}


#header p {
	color: mediumaquamarine;
	padding: 10px 30px;
}


header nav {
	padding-right: 40px;
}

nav span {
	display: inline-block;
	padding: 20px 10px;
}

nav a {
	color: #000000;
}

.main {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding-top: 116px;
}




.large {
	display: inline-flex;
	flex-direction: column;
	max-width: 630px;
	margin: 10px 30px;
}


#booze {
	background-image: url("../images/booze.png");
	color: #ffffff;
	font-family: Georgia;
	font-weight: bold;
	font-size: 40px;

}


}

#earth {
	background-image: url("../images/trees.png");
	color: #ffffff;
	font-family: Georgia;
	font-weight: bold;
	font-size: 30px;

}

#camera {
	background-image: url("../images/camera.png");
	color: #ffffff;
	font-family: Georgia;
	font-weight: bold;
	font-size: 30px;
}



.medium {
	display: inline-flex;
	flex-direction: column;
	max-width: 300px;
	margin: 10px 30px;
}

#cat {
	background-image: url("../images/cat.png");
	color: #ffffff;
	font-family: Georgia;
	font-weight: bold;
	font-size: 30px;

}

.small {
	display: inline-flex;
	flex-direction: column;
	max-width: 240px;
	margin: 10px 30px;
}

#cookie {
	background-image: url("../images/cookie.png");

}

footer {
	display: flex;
	background-color: MediumAquamarine;
	margin: auto;
	font-family: Verdana;
	font-size: 12px;
	height: ;
	align-items: center;
	justify-content: center;
	height: 325px;
	align-items: center;
	flex-direction: column;
}

#footer-title {
	font-family: Georgia;
	font-size: 16px;
	font-weight: bold;
	color: white;
}

#footer-container {
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

#footer-title p {
	border-right: 2px white solid;
	padding-right: 30px;
}

footer nav {
	display: inline-block;
	padding-left: 25px;
}

nav span {
	display: inline-block;
	padding: 20px 10px;
}

.copyright {
	display: block;
}



/*.column.large {
	width: 630px;
}

.column.medium {
	width: 300px;
}

.column.small {
	width: 240px;
}*/